{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "jsx-a11y/anchor-is-valid": ["error", { "components": [] }],
    "react/jsx-filename-extension": 0,
    "max-len": ["error", 140],
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": {
          "minProperties": 5,
          "multiline": true,
          "consistent": true
        },
        "ObjectPattern": {
          "minProperties": 5,
          "multiline": true,
          "consistent": true
        }
      }
    ]
  },
  "globals": {
    "document": true,
    "graphql": true,
    "window": true
  },
  "overrides": [
    {
      "files": ["./**/*.js"],
      "excludedFiles": ["./public", "./node_modules"]
    }
  ]
}
