/* Main */

#main {
  background-color: _palette(bg-alt);

  > * {
    border-top: solid 1px _palette(border);

    &:first-child {
      border-top: 0;
    }

    @include inner;
  }

  &.alt {
    background-color: transparent;
    border-bottom: solid 1px _palette(border);
  }

  #two {
    background-color: _palette(bg);

    .services {
      display: flex;

      .service {
        display: flex;
        flex: 1 1 33%;
        flex-direction: column;
        align-items: center;
        border-bottom: none;

        &:hover {
          h3 {
            color: _palette(highlight);
          }
        }

        h3 {
          text-align: center;
        }
      }
    }

    &.services-two {
      section {
        min-height: 50vh;
      }

      div {
        &.image {
          @media screen and (max-width: 980px) {
            height: 50vh;
          }
        }
      }
    }
  }
}
